.hover\:text-gray-700:hover {
    border-color: transparent !important;
}


/* custom taost messages css here  */
.custom-toast-message {
    position: absolute;
    top: 25px;
    right: 30px;
    border-radius: 12px;
    background: #fff;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: none;
    z-index: 100000;
}


.custom-toast-message .custom-toast-message-content {
    display: flex;
    align-items: center;
}



.custom-toast-message-content .custom-toast-message-icon i {
    font-size: 14px;
}


.custom-toast-message-content .message {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.message .text {
    font-size: 16px;
    font-weight: 400;
    color: #666666;
}

.message .text.text-1 {
    font-weight: 600;
    color: #333;
}

.custom-toast-message .close {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.7;
}

.custom-toast-message .close:hover {
    opacity: 1;
}

.custom-toast-message .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 8px;
    width: 100%;
}


.custom-toast-message-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    min-width: 25px;
    border-radius: 50%;
}

.custom-toast-message-icon-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    min-width: 45px;
    border-radius: 50%;
}



/* success toast  */
.toast-success .custom-toast-message-icon {
    background-color: #2FCF33;
    color: #fff;
}

.toast-success .custom-toast-message-icon-bg {
    background-color: #DEFFDC;
    color: #fff;
}

.toast-success .progress:before {
    background-color: #1DD231;
}

/* danger toast  */
.toast-danger .custom-toast-message-icon {
    background-color: #EE2C2E;
    color: #fff;
}

.toast-danger .custom-toast-message-icon-bg {
    background-color: #FFE6E8;
    color: #fff;
}

.toast-danger .progress {
    height: 5px;
    background-color: #EE2C2E;
    width: 100%;
    animation: progress 5s linear forwards;
}
.toast-success .progress {
    height: 5px;
    background-color: #EE2C2E;
    width: 100%;
    animation: progress 5s linear forwards;
}
@keyframes progress {
    from {
        width: 100%;
    }

    to {
        width: 0%;
    }
}

button {
    padding: 12px 20px;
    font-size: 20px;
    outline: none;
    border: none;
    background-color: #4070f4;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #0e4bf1;
}

.custom-toast-message.active~button {
    pointer-events: none;
}
